Button{
    /* background-color: rgb(31, 175, 194) !important; */
    border: rgb(76, 172, 236),solid,1px;
  }
  li{
      background-color: whitesmoke !important;
  }
  #tab{
    background-color: whitesmoke !important;
  }
  .homeButton{
    height: 80px !important;
    width: 100px;
    /* max-width: 90px; */
    border-radius: 30px;
  }